$main-text-color: #212121;
$main-background-color: #ffffff;
$paragraph-text-color: #757575;
$accent-text-color: #2196f3;
$dark-theme-text-color: #ffffff;

$hover-button-color: #188ce8;
$plain-button-color: #f5f4fa;
$border-color: #afb1b8;

$section-staff-color: #f5f4fa;
$transparent-background: rgba(47, 48, 58, 0.8);

$footer-contacts-color: rgba(255, 255, 255, 0.6);
$background-footer-color: #2f303a;
$overlay-modal-color: rgba(0, 0, 0, 0.2);

$font-body: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
